.dictionaryError {
    display: grid;
    gap: 2.75rem;
    justify-content: center;
    text-align: center;
    margin-top: 8.25rem;
}

.header {
    font-size: 4rem;
}

.message {
    display: grid;
    gap: 1.5rem;
}

.messageHeader {
    font-size: 1.25rem;
}

.messageBody {
    color: var(--color-neutral-400);
}